* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-bottom: 80px; /* Adiciona espaço suficiente para o rodapé */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 1.5em;
}

.menu a {
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

.menu a:hover {
    background-color: #575757;
}

/* Estilos do Formulário */
h1 {
    text-align: center;
    color: #333;
}

.box_imagem {
    text-align: center;
    margin: 1em 0;
}

.box_imagem img {
    max-width: 100%;
    height: auto;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
}

/* Estilos do Rodapé */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos do Menu Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        padding: 0.5em 0;
        display: block;
    }

    .menu.show {
        display: flex;
    }

    form {
        width: 90%;
        padding: 1em;
    }

    button {
        padding: 0.75em;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5em;
    }

    .logo {
        font-size: 1em;
    }

    .menu a {
        padding: 0.5em;
    }

    form {
        width: 100%;
        padding: 0.5em;
    }

    button {
        padding: 0.5em;
    }
}
